:root{
--DarkSlateGrey: hsl(234, 29%, 20%);
--CharcoalGrey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
--Tomato: hsl(4, 100%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container{
    width: 100vw;
    background-color:var(--DarkSlateGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.hero{
    width: 1000px;
    background-color: var(--White);
    display: flex;
    padding: 30px;
    border-radius: 20px;
}

.hide-hero{
    visibility: hidden;
}

.left{
   width: 500px;
   padding: 20px;
}

.left h1{
font-size: 4.2rem;
margin-bottom: 20px;
}

.left ul{
    list-style: none;
    line-height: 30px;
    margin: 30px 0;
}

.left ul li span img{
  width: 15px;
  margin-right: 20px;
}

.bold{
    font-weight: 600;
}

form input{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--Grey);
    margin: 10px 0;
    padding: 15px;
}

form button{
    width: 100%;
    padding: 15px;
    color: var(--White);
    background: var(--CharcoalGrey);
    border-radius: 5px;
    border: none;
}

form button:hover{
    background: linear-gradient(to right, var(--Tomato), red);
}

.right{
    width:500px;
    height: 500px;
    background: url(images/illustration-sign-up-desktop.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}


form{
    position: relative;
}
.error-message{
    color: red;
    position: absolute;
    right: 20px;
    top: 1px;
    display: none;
}

.success-message{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0%;
    left: 50%;
    background: var(--White);
    border-radius: 20px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 1s, top 1s;
}

.open-success-message{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.success-message h1{
    font-size: 50px;
    margin: 10px 0;
}

.success-message p{
    line-height: 30px;
    margin-bottom: 10px;  
}

.success-message button{
    width: 100%;
    padding: 15px;
    color: var(--White);
    background: var(--CharcoalGrey);
    border-radius: 5px;
    border: none;
}

.success-message button:hover{
    background: linear-gradient(to right, var(--Tomato), red);
}



.attribution {
    margin-top: 20px; 
    font-size: 11px;
    text-align: center; 
    color: var(--White);
}

.attribution a {
     color: hsl(228, 45%, 44%); 
    }

    @media screen and (max-width: 400px) {
.hero{
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}

.left{
width: 100%;
height: auto;
}

.left h1{
    font-size: 2rem;
    margin-bottom: 10px;
    }

    .left ul{
        list-style: none;
        line-height: 30px;
        margin: 15px 0;
    }
    

.right{
    width: 100%;
    
   background: url(images/illustration-sign-up-mobile.svg);
   background-position:center;
   background-repeat: no-repeat;
   background-size:contain;
        }
    }